@import url("Colors.css");

html {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  font-family: 'Roboto', sans-serif !important;
}

body{
  /* Setting default text color, background and a font stack */
  font-size: 5vw;
}

#intro {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--c4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#intro2 {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--c4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*----------------------------------------------------------------------------
/*----------------------------------INTRO-------------------------------------
/*----------------------------------------------------------------------------*/
.introANI1 {
  -webkit-animation: introANI1 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
          animation: introANI1 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}
@-webkit-keyframes introANI1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes introANI1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}


.introANI2 {
  -webkit-animation: introANI2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: introANI2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes introANI2 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
@keyframes introANI2 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 0.75em;
    opacity: 0;
  }
}
