@import url("Colors.css");

html, body {
  position: relative;
  font-size: 14px;
  margin: 0 !important;
  padding: 0;
  color: var(--noir);
  height: 100%;
}

#LoginRegisterButton {
  margin: 0;
}

.popupLoginLogoutButton {
  background: none !important;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.popupRegisterButton {
  background: none !important;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#popupLogin {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#popupRegister {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#head-column {
  
}

#cookies {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
}

#logo1 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25% !important;
}

.dropdown {
  display: none;
}
