@import url("Colors.css");

html, body {
  position: relative;
  font-size: 14px;
  margin: 0 !important;
  padding: 0;
  color: var(--noir);
  height: 100%;
  background-color: var(--blanc);
}

#LoginRegisterButton {
  margin: 0;
}

.popupLoginLogoutButton {
  background: none !important;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.popupRegisterButton {
  background: none !important;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#popupLogin {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#popupRegister {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#cookies {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
}

#logo1 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25% !important;
}

.navbar {
  background-color: var(--c2) !important;
}
.nav-link {
  color: var(--c3) !important;
}
.nav-link.active {
  color: var(--c4) !important;
}
.nav-link:hover {
  color: var(--c5) !important;
}
.navbar-brand {
  color: var(--c4) !important;
}
.container {
  background-color: var(--c3) !important;
}
.formContainer {
  padding: 10px;
}
